#main {
	display: grid;
	grid-template-columns: 50vw 50vw;
	grid-template-rows: 50vh 50vh;
	grid-gap: 20px;
}

#cart,
#inventory,
#orders,
#products-list {
	height: 50vh;
	background-color: #f2f2f2;
	padding-left: 10px;
	padding-right: 10px;
	overflow: auto;
}

#product-item,
#cart > div,
#inventory > div {
	margin-bottom: 15px;
}

#products-list,
#cart,
#inventory {
	position: relative;
}

#products-list > section,
#cart > section {
	position: absolute;
	top: 3%;
	right: 3%;
	text-align: right;
}

#products-list > section > p,
#cart > section > p {
	margin-bottom: 0;
}

#inventory > section {
	position: absolute;
	top: 6%;
	right: 6%;
	text-align: right;
}

#product-form > div > form > div > input {
	height: 30px;
	width: 200px;
	padding-left: 10px;
	padding-right: 10px;
	margin-top: 10px;
	margin-bottom: 10px;
	font-size: 15px;
	letter-spacing: 0.05em;
}

input[type='number'] {
	text-align: right;
}

#product-form > div > form > div > label {
	display: block;
	margin-top: 10px;
	margin-bottom: -7px;
	font-weight: 400;
}

#product-form {
	background-color: #f2f2f2;
	position: absolute;
	height: 300px;
	width: 300px;
	top: 100px;
	margin-left: auto;
	margin-right: auto;
	left: 0;
	right: 0;
	z-index: 2000;
	border-radius: 5px;
}

#product-form > div {
	width: 228px;
	height: auto;
	margin: 30px auto 0;
}

#product-form > div > form > div > button:first-child {
	margin-right: 10px;
}

#product-form > div > form > div > button {
	width: 60px;
}

#product-form > div > form > div > label {
	margin-left: 5px;
}

#product-form > div > form > div:last-child {
	width: 130px;
	margin: 10px auto 0;
}

#modal-overlay {
	position: fixed;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(33, 33, 33, 0.85);
	z-index: 1000;
}
