#main {
	display: grid;
	grid-template-columns: 50vw 50vw;
	grid-template-rows: 50vh 50vh;
	grid-gap: 20px;
}

#cart,
#inventory,
#orders,
#products {
	height: 50vh;
	background-color: #f2f2f2;
	padding-left: 10px;
	padding-right: 10px;
	overflow: auto;
}

#product-item,
#cart > div {
	margin-bottom: 15px;
}
